<section id="prompt">
  <div>
    <h1 id="congr" class="prompt-text" style="display: none">Congradulations!!! </h1>
    <h1 id="survive" class="prompt-text" style="display: none">You Survived This Week!!!</h1>
    <h1 id="wondering" class="prompt-text" style="display: none"> Wondering <span id="what2do">What2Do</span> for this weekend?</h1>
  </div>
  <div id="next-icon" style="display: none">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
    </svg>
  </div>
</section>
<section id="real-home">
  <section id="real-home-title">
    <h1 class="ml1">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">What2Do This Weekend</span>
        <span class="line line2"></span>
      </span>
    </h1>
    <h5> Select Your Treat for this week</h5>

    </div>
  </section>
  <section id="tag-cards">
    <% @tags.each do |tag|%>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            # <%= tag.name %>
          </h5>
          <p class="card-text">
            <%= tag.description %>
          </p>
          <a href="/tags/<%=tag.id%>" class="btn btn-primary">See the Post</a>
        </div>
      </div>
    <% end %>
  </section>
</section>
